Other/N2F/Src/Silverlight/Swoosher SL1.0/App_WebReferences/N2F/Services/PhotoOrganise.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewFolderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewCollectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewCollectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollections">
        <s:complexType />
      </s:element>
      <s:element name="GetCollectionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollectionsResult" type="tns:ArrayOfPhotoCollectionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhotoCollectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhotoCollectionItem" nillable="true" type="tns:PhotoCollectionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhotoCollectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebPhotoCollectionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPhotosByCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebPhotoCollectionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhotosByCollectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhotosByCollectionResult" type="tns:ArrayOfPhotoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhotoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhotoItem" nillable="true" type="tns:PhotoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhotoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebPhotoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainPhotoURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebPhotoCollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MainPhotoFilebytes" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="TakenDT" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadPhotoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceUploadPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMemberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Base64StringPhoto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceUploadPhotoResponse">
        <s:complexType />
      </s:element>
      <s:element name="RenameCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebPhotoCollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameCollectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebPhotoID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhotoResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfPhotoCollectionItem" nillable="true" type="tns:ArrayOfPhotoCollectionItem" />
      <s:element name="ArrayOfPhotoItem" nillable="true" type="tns:ArrayOfPhotoItem" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewCollection" />
  </wsdl:message>
  <wsdl:message name="CreateNewCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollections" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhotosByCollection" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhotosByCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadPhoto" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceUploadPhoto" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceUploadPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:RenameCollection" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:RenameCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePhoto" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewCollectionHttpGetIn">
    <wsdl:part name="NewFolderName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewCollectionHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsHttpGetIn" />
  <wsdl:message name="GetCollectionsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoCollectionItem" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpGetIn">
    <wsdl:part name="WebPhotoCollectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoItem" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoHttpGetIn">
    <wsdl:part name="WebPhotoCollectionID" type="s:string" />
    <wsdl:part name="MainPhotoFilebytes" type="s1:StringArray" />
    <wsdl:part name="TakenDT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoHttpGetIn">
    <wsdl:part name="WebMemberID" type="s:string" />
    <wsdl:part name="WebPassword" type="s:string" />
    <wsdl:part name="Base64StringPhoto" type="s:string" />
    <wsdl:part name="DateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoHttpGetOut" />
  <wsdl:message name="RenameCollectionHttpGetIn">
    <wsdl:part name="WebPhotoCollectionID" type="s:string" />
    <wsdl:part name="NewName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionHttpGetOut" />
  <wsdl:message name="DeletePhotoHttpGetIn">
    <wsdl:part name="WebPhotoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoHttpGetOut" />
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewCollectionHttpPostIn">
    <wsdl:part name="NewFolderName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewCollectionHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsHttpPostIn" />
  <wsdl:message name="GetCollectionsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoCollectionItem" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpPostIn">
    <wsdl:part name="WebPhotoCollectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoItem" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoHttpPostIn">
    <wsdl:part name="WebPhotoCollectionID" type="s:string" />
    <wsdl:part name="MainPhotoFilebytes" type="s1:StringArray" />
    <wsdl:part name="TakenDT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoHttpPostIn">
    <wsdl:part name="WebMemberID" type="s:string" />
    <wsdl:part name="WebPassword" type="s:string" />
    <wsdl:part name="Base64StringPhoto" type="s:string" />
    <wsdl:part name="DateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoHttpPostOut" />
  <wsdl:message name="RenameCollectionHttpPostIn">
    <wsdl:part name="WebPhotoCollectionID" type="s:string" />
    <wsdl:part name="NewName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionHttpPostOut" />
  <wsdl:message name="DeletePhotoHttpPostIn">
    <wsdl:part name="WebPhotoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoHttpPostOut" />
  <wsdl:portType name="PhotoOrganiseSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <wsdl:input message="tns:CreateNewCollectionSoapIn" />
      <wsdl:output message="tns:CreateNewCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <wsdl:input message="tns:GetCollectionsSoapIn" />
      <wsdl:output message="tns:GetCollectionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <wsdl:input message="tns:GetPhotosByCollectionSoapIn" />
      <wsdl:output message="tns:GetPhotosByCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:input message="tns:UploadPhotoSoapIn" />
      <wsdl:output message="tns:UploadPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <wsdl:input message="tns:DeviceUploadPhotoSoapIn" />
      <wsdl:output message="tns:DeviceUploadPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <wsdl:input message="tns:RenameCollectionSoapIn" />
      <wsdl:output message="tns:RenameCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:input message="tns:DeletePhotoSoapIn" />
      <wsdl:output message="tns:DeletePhotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PhotoOrganiseHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <wsdl:input message="tns:CreateNewCollectionHttpGetIn" />
      <wsdl:output message="tns:CreateNewCollectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <wsdl:input message="tns:GetCollectionsHttpGetIn" />
      <wsdl:output message="tns:GetCollectionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <wsdl:input message="tns:GetPhotosByCollectionHttpGetIn" />
      <wsdl:output message="tns:GetPhotosByCollectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:input message="tns:UploadPhotoHttpGetIn" />
      <wsdl:output message="tns:UploadPhotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <wsdl:input message="tns:DeviceUploadPhotoHttpGetIn" />
      <wsdl:output message="tns:DeviceUploadPhotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <wsdl:input message="tns:RenameCollectionHttpGetIn" />
      <wsdl:output message="tns:RenameCollectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:input message="tns:DeletePhotoHttpGetIn" />
      <wsdl:output message="tns:DeletePhotoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PhotoOrganiseHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <wsdl:input message="tns:CreateNewCollectionHttpPostIn" />
      <wsdl:output message="tns:CreateNewCollectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <wsdl:input message="tns:GetCollectionsHttpPostIn" />
      <wsdl:output message="tns:GetCollectionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <wsdl:input message="tns:GetPhotosByCollectionHttpPostIn" />
      <wsdl:output message="tns:GetPhotosByCollectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:input message="tns:UploadPhotoHttpPostIn" />
      <wsdl:output message="tns:UploadPhotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <wsdl:input message="tns:DeviceUploadPhotoHttpPostIn" />
      <wsdl:output message="tns:DeviceUploadPhotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <wsdl:input message="tns:RenameCollectionHttpPostIn" />
      <wsdl:output message="tns:RenameCollectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:input message="tns:DeletePhotoHttpPostIn" />
      <wsdl:output message="tns:DeletePhotoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhotoOrganiseSoap" type="tns:PhotoOrganiseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <soap:operation soapAction="http://tempuri.org/CreateNewCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <soap:operation soapAction="http://tempuri.org/GetCollections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <soap:operation soapAction="http://tempuri.org/GetPhotosByCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <soap:operation soapAction="http://tempuri.org/UploadPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <soap:operation soapAction="http://tempuri.org/DeviceUploadPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <soap:operation soapAction="http://tempuri.org/RenameCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <soap:operation soapAction="http://tempuri.org/DeletePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhotoOrganiseSoap12" type="tns:PhotoOrganiseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <soap12:operation soapAction="http://tempuri.org/CreateNewCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <soap12:operation soapAction="http://tempuri.org/GetCollections" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <soap12:operation soapAction="http://tempuri.org/GetPhotosByCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <soap12:operation soapAction="http://tempuri.org/UploadPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <soap12:operation soapAction="http://tempuri.org/DeviceUploadPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <soap12:operation soapAction="http://tempuri.org/RenameCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <soap12:operation soapAction="http://tempuri.org/DeletePhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhotoOrganiseHttpGet" type="tns:PhotoOrganiseHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <http:operation location="/CreateNewCollection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <http:operation location="/GetCollections" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <http:operation location="/GetPhotosByCollection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <http:operation location="/UploadPhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <http:operation location="/DeviceUploadPhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <http:operation location="/RenameCollection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <http:operation location="/DeletePhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhotoOrganiseHttpPost" type="tns:PhotoOrganiseHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCollection">
      <http:operation location="/CreateNewCollection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <http:operation location="/GetCollections" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <http:operation location="/GetPhotosByCollection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <http:operation location="/UploadPhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <http:operation location="/DeviceUploadPhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <http:operation location="/RenameCollection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <http:operation location="/DeletePhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhotoOrganise">
    <wsdl:port name="PhotoOrganiseSoap" binding="tns:PhotoOrganiseSoap">
      <soap:address location="http://services.next2friends.com/N2FWebservices/PhotoOrganise.asmx" />
    </wsdl:port>
    <wsdl:port name="PhotoOrganiseSoap12" binding="tns:PhotoOrganiseSoap12">
      <soap12:address location="http://services.next2friends.com/N2FWebservices/PhotoOrganise.asmx" />
    </wsdl:port>
    <wsdl:port name="PhotoOrganiseHttpGet" binding="tns:PhotoOrganiseHttpGet">
      <http:address location="http://services.next2friends.com/N2FWebservices/PhotoOrganise.asmx" />
    </wsdl:port>
    <wsdl:port name="PhotoOrganiseHttpPost" binding="tns:PhotoOrganiseHttpPost">
      <http:address location="http://services.next2friends.com/N2FWebservices/PhotoOrganise.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>