Other/N2F/Src/ImageWorks/Next2Friends.ImageWorks/Service References/SnapUpService/SnapUpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.next2friends.com/" xmlns:s1="http://www.next2friends.com/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.next2friends.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides functionality to upload images to the Next2Friends server.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.next2friends.com/">
      <s:element name="CreateCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="collectionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCollectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webPhotoID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhotoResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeviceUploadPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="base64StringPhoto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceUploadPhotoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCollections">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollectionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollectionsResult" type="tns:ArrayOfPhotoCollectionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhotoCollectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhotoCollectionItem" nillable="true" type="tns:PhotoCollectionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhotoCollectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebPhotoCollectionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPhotosByCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webPhotoCollectionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhotosByCollectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhotosByCollectionResult" type="tns:ArrayOfPhotoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhotoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhotoItem" nillable="true" type="tns:PhotoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhotoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebPhotoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainPhotoURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="JavaUploadPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encryptedWebMemberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webPhotoCollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="base64StringPhoto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JavaUploadPhotoResponse">
        <s:complexType />
      </s:element>
      <s:element name="RenameCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webPhotoCollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameCollectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webPhotoCollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photoFileBytes" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="takenDT" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPhotoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastActivity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfPhotoCollectionItem" nillable="true" type="tns:ArrayOfPhotoCollectionItem" />
      <s:element name="ArrayOfPhotoItem" nillable="true" type="tns:ArrayOfPhotoItem" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema targetNamespace="http://www.next2friends.com/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCollection" />
  </wsdl:message>
  <wsdl:message name="CreateCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePhoto" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceUploadPhoto" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceUploadPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollections" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhotosByCollection" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhotosByCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="JavaUploadPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:JavaUploadPhoto" />
  </wsdl:message>
  <wsdl:message name="JavaUploadPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:JavaUploadPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:RenameCollection" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:RenameCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadPhoto" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetMember" />
  </wsdl:message>
  <wsdl:message name="GetMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCollectionHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="collectionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateCollectionHttpGetOut" />
  <wsdl:message name="DeletePhotoHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoHttpGetOut" />
  <wsdl:message name="DeviceUploadPhotoHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="base64StringPhoto" type="s:string" />
    <wsdl:part name="dateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoHttpGetOut" />
  <wsdl:message name="GetCollectionsHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoCollectionItem" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoItem" />
  </wsdl:message>
  <wsdl:message name="JavaUploadPhotoHttpGetIn">
    <wsdl:part name="encryptedWebMemberID" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
    <wsdl:part name="base64StringPhoto" type="s:string" />
    <wsdl:part name="dateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JavaUploadPhotoHttpGetOut" />
  <wsdl:message name="RenameCollectionHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
    <wsdl:part name="newName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionHttpGetOut" />
  <wsdl:message name="UploadPhotoHttpGetIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
    <wsdl:part name="photoFileBytes" type="s1:StringArray" />
    <wsdl:part name="takenDT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoHttpGetOut" />
  <wsdl:message name="GetMemberHttpGetIn">
    <wsdl:part name="lastActivity" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="CreateCollectionHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="collectionName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateCollectionHttpPostOut" />
  <wsdl:message name="DeletePhotoHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePhotoHttpPostOut" />
  <wsdl:message name="DeviceUploadPhotoHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="base64StringPhoto" type="s:string" />
    <wsdl:part name="dateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceUploadPhotoHttpPostOut" />
  <wsdl:message name="GetCollectionsHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCollectionsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoCollectionItem" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPhotosByCollectionHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPhotoItem" />
  </wsdl:message>
  <wsdl:message name="JavaUploadPhotoHttpPostIn">
    <wsdl:part name="encryptedWebMemberID" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
    <wsdl:part name="base64StringPhoto" type="s:string" />
    <wsdl:part name="dateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JavaUploadPhotoHttpPostOut" />
  <wsdl:message name="RenameCollectionHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
    <wsdl:part name="newName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RenameCollectionHttpPostOut" />
  <wsdl:message name="UploadPhotoHttpPostIn">
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="webPhotoCollectionID" type="s:string" />
    <wsdl:part name="photoFileBytes" type="s1:StringArray" />
    <wsdl:part name="takenDT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadPhotoHttpPostOut" />
  <wsdl:message name="GetMemberHttpPostIn">
    <wsdl:part name="lastActivity" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="SnapUpServiceSoap">
    <wsdl:operation name="CreateCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Creates a new collection for the specified member. &lt;tt&gt;collectionName&lt;/tt&gt; length should not exceed 50 characters length.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;collectionName&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;collectionName&lt;/tt&gt; length exceeds 50 characters.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:CreateCollectionSoapIn" />
      <wsdl:output message="tns:CreateCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Sets the photo with the specified &lt;tt&gt;webPhotoID&lt;/tt&gt; to inactive.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:DeletePhotoSoapIn" />
      <wsdl:output message="tns:DeletePhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the specified image to the default user gallery. Intended to be used from a handheld device.&lt;tt&gt;DateTime&lt;/tt&gt; is expected to be a string representing ticks in Microsoft .NET Framework.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;base64StringPhoto&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;DateTime&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;base64StringPhoto&lt;/tt&gt; is not a valid image encoded as a Base64 string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:DeviceUploadPhotoSoapIn" />
      <wsdl:output message="tns:DeviceUploadPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets all the photo collections for the specified member.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:GetCollectionsSoapIn" />
      <wsdl:output message="tns:GetCollectionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets all the photos for the specified member inside the specified photo collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:GetPhotosByCollectionSoapIn" />
      <wsdl:output message="tns:GetPhotosByCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the specified image to the specified user gallery. Intended to be used from an applet.&lt;tt&gt;DateTime&lt;/tt&gt; is expected to be a string representing ticks in Microsoft .NET Framework.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;EncryptedWebMemberID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;WebPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;Base64StringPhoto&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;DateTime&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;Base64StringPhoto&lt;/tt&gt; is not a valid image encoded as a Base64 string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the specified &lt;tt&gt;EncryptedWebMemberID&lt;/tt&gt; is not mapped to any existing user.</wsdl:documentation>
      <wsdl:input message="tns:JavaUploadPhotoSoapIn" />
      <wsdl:output message="tns:JavaUploadPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Renames the specified photo collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;newName&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified member cannot modify the photo collection with the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:RenameCollectionSoapIn" />
      <wsdl:output message="tns:RenameCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the photo to the specified collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;photoFileBytes&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:UploadPhotoSoapIn" />
      <wsdl:output message="tns:UploadPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <wsdl:input message="tns:GetMemberSoapIn" />
      <wsdl:output message="tns:GetMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SnapUpServiceHttpGet">
    <wsdl:operation name="CreateCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Creates a new collection for the specified member. &lt;tt&gt;collectionName&lt;/tt&gt; length should not exceed 50 characters length.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;collectionName&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;collectionName&lt;/tt&gt; length exceeds 50 characters.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:CreateCollectionHttpGetIn" />
      <wsdl:output message="tns:CreateCollectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Sets the photo with the specified &lt;tt&gt;webPhotoID&lt;/tt&gt; to inactive.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:DeletePhotoHttpGetIn" />
      <wsdl:output message="tns:DeletePhotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the specified image to the default user gallery. Intended to be used from a handheld device.&lt;tt&gt;DateTime&lt;/tt&gt; is expected to be a string representing ticks in Microsoft .NET Framework.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;base64StringPhoto&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;DateTime&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;base64StringPhoto&lt;/tt&gt; is not a valid image encoded as a Base64 string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:DeviceUploadPhotoHttpGetIn" />
      <wsdl:output message="tns:DeviceUploadPhotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets all the photo collections for the specified member.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:GetCollectionsHttpGetIn" />
      <wsdl:output message="tns:GetCollectionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets all the photos for the specified member inside the specified photo collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:GetPhotosByCollectionHttpGetIn" />
      <wsdl:output message="tns:GetPhotosByCollectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the specified image to the specified user gallery. Intended to be used from an applet.&lt;tt&gt;DateTime&lt;/tt&gt; is expected to be a string representing ticks in Microsoft .NET Framework.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;EncryptedWebMemberID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;WebPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;Base64StringPhoto&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;DateTime&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;Base64StringPhoto&lt;/tt&gt; is not a valid image encoded as a Base64 string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the specified &lt;tt&gt;EncryptedWebMemberID&lt;/tt&gt; is not mapped to any existing user.</wsdl:documentation>
      <wsdl:input message="tns:JavaUploadPhotoHttpGetIn" />
      <wsdl:output message="tns:JavaUploadPhotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Renames the specified photo collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;newName&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified member cannot modify the photo collection with the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:RenameCollectionHttpGetIn" />
      <wsdl:output message="tns:RenameCollectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the photo to the specified collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;photoFileBytes&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:UploadPhotoHttpGetIn" />
      <wsdl:output message="tns:UploadPhotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <wsdl:input message="tns:GetMemberHttpGetIn" />
      <wsdl:output message="tns:GetMemberHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SnapUpServiceHttpPost">
    <wsdl:operation name="CreateCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Creates a new collection for the specified member. &lt;tt&gt;collectionName&lt;/tt&gt; length should not exceed 50 characters length.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;collectionName&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;collectionName&lt;/tt&gt; length exceeds 50 characters.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:CreateCollectionHttpPostIn" />
      <wsdl:output message="tns:CreateCollectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Sets the photo with the specified &lt;tt&gt;webPhotoID&lt;/tt&gt; to inactive.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:DeletePhotoHttpPostIn" />
      <wsdl:output message="tns:DeletePhotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the specified image to the default user gallery. Intended to be used from a handheld device.&lt;tt&gt;DateTime&lt;/tt&gt; is expected to be a string representing ticks in Microsoft .NET Framework.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;base64StringPhoto&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;DateTime&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;base64StringPhoto&lt;/tt&gt; is not a valid image encoded as a Base64 string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:DeviceUploadPhotoHttpPostIn" />
      <wsdl:output message="tns:DeviceUploadPhotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets all the photo collections for the specified member.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:GetCollectionsHttpPostIn" />
      <wsdl:output message="tns:GetCollectionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Gets all the photos for the specified member inside the specified photo collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:GetPhotosByCollectionHttpPostIn" />
      <wsdl:output message="tns:GetPhotosByCollectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the specified image to the specified user gallery. Intended to be used from an applet.&lt;tt&gt;DateTime&lt;/tt&gt; is expected to be a string representing ticks in Microsoft .NET Framework.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;EncryptedWebMemberID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;WebPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;Base64StringPhoto&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, orif the specified &lt;tt&gt;DateTime&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified &lt;tt&gt;Base64StringPhoto&lt;/tt&gt; is not a valid image encoded as a Base64 string.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the specified &lt;tt&gt;EncryptedWebMemberID&lt;/tt&gt; is not mapped to any existing user.</wsdl:documentation>
      <wsdl:input message="tns:JavaUploadPhotoHttpPostIn" />
      <wsdl:output message="tns:JavaUploadPhotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Renames the specified photo collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;newName&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string.&lt;br/&gt;&lt;tt&gt;ArgumentException&lt;/tt&gt; - If the specified member cannot modify the photo collection with the specified &lt;tt&gt;webPhotoCollectionID&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:RenameCollectionHttpPostIn" />
      <wsdl:output message="tns:RenameCollectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;p&gt;Uploads the photo to the specified collection.&lt;/p&gt;&lt;b&gt;Throws:&lt;/b&gt;&lt;br/&gt;&lt;tt&gt;ArgumentNullException&lt;/tt&gt; - If the specified &lt;tt&gt;nickname&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;password&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt; or an empty string, or if the specified &lt;tt&gt;photoFileBytes&lt;/tt&gt; is &lt;tt&gt;null&lt;/tt&gt;.&lt;br/&gt;&lt;tt&gt;Exception&lt;/tt&gt; - If the user with the specified &lt;tt&gt;nickname&lt;/tt&gt; and &lt;tt&gt;password&lt;/tt&gt; does not exist.</wsdl:documentation>
      <wsdl:input message="tns:UploadPhotoHttpPostIn" />
      <wsdl:output message="tns:UploadPhotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <wsdl:input message="tns:GetMemberHttpPostIn" />
      <wsdl:output message="tns:GetMemberHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SnapUpServiceSoap" type="tns:SnapUpServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCollection">
      <soap:operation soapAction="http://www.next2friends.com/CreateCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <soap:operation soapAction="http://www.next2friends.com/DeletePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <soap:operation soapAction="http://www.next2friends.com/DeviceUploadPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <soap:operation soapAction="http://www.next2friends.com/GetCollections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <soap:operation soapAction="http://www.next2friends.com/GetPhotosByCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <soap:operation soapAction="http://www.next2friends.com/JavaUploadPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <soap:operation soapAction="http://www.next2friends.com/RenameCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <soap:operation soapAction="http://www.next2friends.com/UploadPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap:operation soapAction="http://www.next2friends.com/GetMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SnapUpServiceSoap12" type="tns:SnapUpServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCollection">
      <soap12:operation soapAction="http://www.next2friends.com/CreateCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <soap12:operation soapAction="http://www.next2friends.com/DeletePhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <soap12:operation soapAction="http://www.next2friends.com/DeviceUploadPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <soap12:operation soapAction="http://www.next2friends.com/GetCollections" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <soap12:operation soapAction="http://www.next2friends.com/GetPhotosByCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <soap12:operation soapAction="http://www.next2friends.com/JavaUploadPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <soap12:operation soapAction="http://www.next2friends.com/RenameCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <soap12:operation soapAction="http://www.next2friends.com/UploadPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap12:operation soapAction="http://www.next2friends.com/GetMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SnapUpServiceHttpGet" type="tns:SnapUpServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CreateCollection">
      <http:operation location="/CreateCollection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <http:operation location="/DeletePhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <http:operation location="/DeviceUploadPhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <http:operation location="/GetCollections" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <http:operation location="/GetPhotosByCollection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <http:operation location="/JavaUploadPhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <http:operation location="/RenameCollection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <http:operation location="/UploadPhoto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <http:operation location="/GetMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SnapUpServiceHttpPost" type="tns:SnapUpServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateCollection">
      <http:operation location="/CreateCollection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <http:operation location="/DeletePhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeviceUploadPhoto">
      <http:operation location="/DeviceUploadPhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCollections">
      <http:operation location="/GetCollections" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotosByCollection">
      <http:operation location="/GetPhotosByCollection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JavaUploadPhoto">
      <http:operation location="/JavaUploadPhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RenameCollection">
      <http:operation location="/RenameCollection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <http:operation location="/UploadPhoto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <http:operation location="/GetMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SnapUpService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides functionality to upload images to the Next2Friends server.</wsdl:documentation>
    <wsdl:port name="SnapUpServiceSoap" binding="tns:SnapUpServiceSoap">
      <soap:address location="http://home-c2d/WebServices/SnapUpService.asmx" />
    </wsdl:port>
    <wsdl:port name="SnapUpServiceSoap12" binding="tns:SnapUpServiceSoap12">
      <soap12:address location="http://home-c2d/WebServices/SnapUpService.asmx" />
    </wsdl:port>
    <wsdl:port name="SnapUpServiceHttpGet" binding="tns:SnapUpServiceHttpGet">
      <http:address location="http://home-c2d/WebServices/SnapUpService.asmx" />
    </wsdl:port>
    <wsdl:port name="SnapUpServiceHttpPost" binding="tns:SnapUpServiceHttpPost">
      <http:address location="http://home-c2d/WebServices/SnapUpService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>